.container{
  background-image: url(https://bit.ly/2UxGgXZ);
}
.jumbotron{
background-color: chocolate;


  }
  h1{
    color: cornsilk;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
  }


