<div class="container-2">
  <div class="row">
    <div class="col-sm-3 col-md-6" style="background-color:yellow;">
      <app-form (addQuote)="addNewQuote($event)">
      </app-form>
    </div>
    <div class="col-sm-9 col-md-6" style="background-color:chocolate;">
      <h1>My Quotes</h1>
      <hr>
      <div>
        <div *ngFor='let quote of quotes;let i = index'>
          <div class="col-sm-11" style="background-color:black;">

            <h2 id="wh">{{quote.name}}</h2>
            <br>

            <button class="btn btn-primary" (click)='toggleDetails(i)'>
              See quote</button>
              <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>

              </app-quote-detail><br><br>

          </div><br><br>


        </div>
        <p *ngIf='quotes.length > 5'>
          Your quotes are too many</p>
      </div>
    </div>
  </div>
